<!DOCTYPE html>
<html>
  <head>
    <title>you are somewhat</title>
    <link rel='stylesheet' href='/public/style.css'>
  </head>
  <body>
    <h1>what am i doing</h1>
    <h1>to do list</h1>
    <form action='/create' method='post'>
      <input name='title'>
      <input name='date' type='date'>
      <input type='submit'>
    </form>
    <a href='/del'>delete top one</a>
    <table>
      <% for (var i of tasks) { %>
        <tr>
        <td><%=i%></td>
        <td></td></tr><br>
      <% } %>
    </table>
  </body>
</html>
